<p>dragonball works!</p>
<section class="row">
  <div class="col-12 col-sm-6">
    <!--añadimos signal name-->
    <h5>Agregar: {{ name() }}</h5>

    <!--  añadimos el [value] del input con el nombre del personaje en signal -->
      <!-- #txtName hace referencia a ese input y para que el evento (change) coga su value que es signal name() -->
    <input
    type="text"
    class="form-control"
    placeholder="Nombre"
   [value]="name() "
   (change)="name.set(txtName.value)"
   (input)="name.set(txtName.value)"
   #txtName
    />

    <h5>{{ power() }}</h5>

    <input
    type="number"
    class="form-control mt-2"
    placeholder="power"
    [value]="power()"
    (input)="power.set(+txtPower.value)"
    #txtPower
    />

    <button (click)="addCharacter()" class="mt-2 btn btn-primary">Agregar</button>
  </div>

  <div class="col-12 col-sm-6">
    <h3>Listado:</h3>
    <ul>
      <!--para mostrar los personajes de signal-->
      @for (character of characters(); track character.id; let idx = $index) {

      <!--si el poder del personaje es mayor a 500 se muestra en la lista -->
      @if(character.power > 500) {

      <li>
        <span> {{ idx + 1 }} - {{ character.name }} </span>
        <!--UNA CONDICION CON LA CLASE text-danger: si caracter power es mayor a 9000 se aplica la clase(texto en rojo)-->
        <strong
          [class.text-danger]="character.power > 9000"
          [class.text-info]="character.power <= 9000"
        >
          ( power: {{ character.power }} )
        </strong>
      </li>
    } @else {
      <li><strong>No se vera este heroe porq tiene menos de 500 pt de vida</strong></li>

    }
     <!-- cierra if -->
    }<!--  cierra for -->
    </ul>
  </div>
</section>
